body{
    font-family: Arial,sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

input{
    padding: 10px;
    font-size: 16px;
}
button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#weatherResult{
    margin-top: 20px;
    font-size:18px;
}
